[submodule "quickstart/themes/ananke"]
	path = quickstart/themes/ananke
	url = https://github.com/shenweiyan/WebStack-Hugo
[submodule "themes/WebStack-Hugo"]
	path = themes/WebStack-Hugo
	url = https://github.com/shenweiyan/WebStack-Hugo
[submodule "site/themes/WebStack-Hugo"]
	path = site/themes/WebStack-Hugo
	url = https://github.com/shenweiyan/WebStack-Hugo
[submodule "pages/themes/WebStack-Hugo"]
	path = pages/themes/WebStack-Hugo
	url = https://github.com/shenweiyan/WebStack-Hugo
